<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>Pet Clinic Index</title>
</head>
<body>
<!--    注意text=后面的string要用单引号扩起来以后 后面再用双引号扩起来一次-->
<!--这里的#{welcome}实际上是一个variable，在resources/messages里面的有4个message.properties的文件-->
<!--有一个是default的另外三个是三种不同的语言，welcome这个variable在每个不同语言的message.properties文件-->
<!--里都对应着该语言里的welcome-->
    <h2 th:text="#{welcome}">Welcome</h2>
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
    </div>

</body>
</html>